.filter-item-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 24px;
}
.filter-heading {
  color: #f8fafc;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
  margin: 0px;
}
.filters-list {
  display: flex;
  align-items: center;
}
.filters-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0px;
  padding-left: 0px;
}
.checkbox-input {
  width: 14px;
  outline: none;
  cursor: pointer;
}
.filter-label {
  color: #f1f5f9;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 400;
  margin-left: 16px;
}
